html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.menu {
  display: none;
  height: 30px;
}

@media (max-width: 500px) {
  .Links {
    display: none;
  }

  .menu {
    display: inline-block;
  }
}

.Drawer {
  padding: 1rem;
  width: 225px;
  background-color: #0b3954;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  font-size: 1.5rem;
}

.Drawer a {
  width: 100%;
  text-align: center;
  transition: 150ms ease-in-out;
  border-radius: 15px;
}

.Drawer a:hover {
  background-color: #ffffff;
  color: #0b3954;
}
